!!!
%html{html_attrs}
  %head
    %title 89.3 The Current Playlist for iPhone
    %link{ :href => versioned_stylesheet("application"), :rel => 'stylesheet', :type => 'text/css'}/
    %meta{ :name => "viewport", :content=> "width=device-width" }
  %body
    =yield